@import url('https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css');


body {
  font-family: 'Mulish', sans-serif;
}

.btn-cta {
  background-color: #00CF83;
  transition: box-shadow 0.3s ease;
}

.btn-cta:hover {
  box-shadow: 0 0 10px #00CF83;
}

:root {
    /*Colores de n8n*/
    --chat--color-primary:rgba(21, 17, 223, 0.74);/*Color circulo pequeño*/
    --chat--color-primary-shade-50:rgba(79, 129, 208, 0.74);/*Color Hover*/
    --chat--color-primary-shade-100:#181b33;/*Color hover click*/

    --chat--color-dark:rgba(0, 15, 164, 0.74);/*Color encabezado y texto*/
    --chat--color-light:#F2F2F2;/*Color background chat*/

    --chat--message--bot--background:rgba(0, 14, 71, 0.12);/*Color background texto bot*/
    --chat--message--bot--color:#000000;/*Color texto bot*/

    --chat--message--user--background:rgba(0, 14, 71, 0.12);/*Color backgroud texto user*/
    --chat--message--user--color:#ffffff;/*Color texto user*/

    --chat--color-secondary:#d4edda;/*Color boton enviar*/
    --chat--color--white:#F2F2F2;/*Color chat pequeño*/

  }